@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');



h1 {
    color:#6E819A;
    
}

h2 {
    color:#6E819A;
}


p {
    color:#2D2D2D;
}

a {
    text-decoration: none;
}


.container {
    max-width: 900px;
    padding:0 40px;
    margin: 0 auto;
}

/* ヘッダーのスタイル */

.header {
    background-color:#6E819A;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

.header > .container {
    display:flex;
    align-items: center;
    height:60px;
    
}

.header-logo a {
    font:300 15px/1em "futura"  ;
    color:#fff;

}

.header-nav {
    margin-left:auto;

}

.nav-list {
    display:flex;
    align-items: center;
    
}

.nav-list > li + li {
    margin-left:40px;
}

.nav-item a {
    font:300 15px/1em "futura"  ;
    color:#fff;
}

/* ワッパーのカラースタイル */

.second-wrapper {
    background-color: #FCFCFC;
}

.third-wrapper {
    background-color: #FFF;

}

.fourth-wrapper {
    background-color:rgb(229, 233, 236);
}

/* 各セクションのスタイル */


/* メインのスタイル */



.main {
    display:flex;
    margin-top:25vh;
    margin-bottom:25vh;

}

.main-img {
    margin-right: 40px;
}

.main-title {
    font-size: 44px;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
    
}

.main-caption {
    font-size: 24px;
    letter-spacing: 0.03em;
    margin:16px 0 24px 0 ;
    
}

.icon {
    max-width: 220px;
}


.sns-icon {
    margin-right: 20px;
    color:#8B8D8E;
}

.animated:hover {
    color:#6E819A;
    animation-duration: 1s;
    
    
}

/* プリンシパルのスタイル */

#principle {
    padding:80px 0 200px 0 ;

}

.thin_title {
    font-size:20px;
    margin:0 0 10px 0;
    font-weight: 100;
    letter-spacing: 0.25em;

}

.principle-text {
    font-size: 16px;
    line-height:30px;
    letter-spacing: 0.03em;
    margin:0 0 10px 0;
}

.principle_items {
    display:flex;
    margin-top:40px;
}

.principle_item {
    width:33%;
    text-align: center;

}

.principle_item  h3 {
    color:#6E819A;
    font-size: 26px;

}

/* レジュメのスタイル */


#resume {
    padding:80px 0 200px 0 ;

}

.job-top {
    margin-bottom: 40px;
}

.job_period {
    font-weight: 50;
    font-size: 14px;

}

.job-caption {
    color:#2D2D2D;
    margin-bottom: 10px;

}


/* コンタクトのスタイル */

#contact {
    padding:80px 0 200px 0 ;
}

.contact-button {
    padding:20px 40px;
    font-size:14px;
    color:#6E819A;
    border:solid 2px #6e819a;
    background-color: #fafcff;
    text-decoration: none;
    letter-spacing: 0.04em;

}

.contact-text {
    margin-bottom: 32px;
}


/* フッターのスタイル */

footer {
    background-color: #8B8D8E;
    padding:20px 0 ;
}

.footer-text {
    color:#FFF;
    font-size:12px;
    text-align: center;
}