@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');



h1 {
    color:#6E819A;
    
}

h2 {
    color:#6E819A;
}

h3 {
    color:#6E819A;
    font-size: 16px;

}

p {
    color:#2D2D2D;
}

li {
    color:#2D2D2D;
    margin-bottom: 10px;

}
.container {
    width: 780px;
    margin: 0 auto;
}

.main {
    display:flex;
    margin-top:200px;
    margin-bottom:360px;

}

.main_img {
    margin-right: 40px;
}

.main_text h1 {
    font-size: 44px;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
    
}

.main_text p {
    font-size: 24px;
    letter-spacing: 0.03em;
    margin:16px 0 24px 0 ;
    
}

.icon {
    width: 220px;
}


.snsicon {
    margin-right: 20px;
    color:#8B8D8E;
}

.animated:hover {
    color:#6E819A;
    animation-duration: 1s;
    
    
}

.mid_wrapper {
    background-color: #FCFCFC;
}

.principle {
    padding:80px 0 200px 0 ;

}

.thin_title {
    font-size:20px;
    margin:0 0 10px 0;
    font-weight: 100;
    letter-spacing: 0.25em;

}

.principle p {
    font-size: 16px;
    line-height:38px;
    letter-spacing: 0.06em;
}

.principle_items {
    display:flex;
    margin-top:40px;
}

.principle_item {
    width:250px;
    text-align: center;

}

.principle p {
    margin:0 0 10px 0;
}

.resume {
    padding:80px 0 200px 0 ;

}



.job_period {
    font-weight: 50;
    font-size: 14px;

}

footer {
    background-color: #8B8D8E;
    padding:20px 0 ;
}

footer p {
    color:#FFF;
    font-size:12px;
}